<div class="card">

    <h5 class="card-header">Add Movie</h5>
    <div class="card-body">
        <form action="/login" method="POST">


            <div class="form-group">

                <label for="movie">Film</label>
                <input type="text" name="movie" id="movie" class="form-control" placeholder="Movie" required>
            </div>

            <div class="form-group">

                <label for="movieCategory">Film Kategorisi</label>
                <input type="text" name="movieCategory" id="movieCategory" class="form-control" placeholder="Category" required>
            </div>
            <button type="submit" class="btn btn-success btn-block">Yorum Ekle</button>
        </form>
    </div>

</div>